.container-experience {
  padding: 50px;
  background: linear-gradient(to bottom, #87cefa,#9595d6);
}

.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-experience ul{
  margin-bottom: 20px;
  width: 450px;
}

.container-title h2 {
  margin-bottom: 40px;
}

.paragraph-company {
  margin-top: 5px;
  padding: 10px;
}

@media (max-width: 600px) {
  .container-experience ul{
   width: 100%;
  }
}
  